@use "../Base/" as *;

.tooltipContainer {
  button {
    background: $gray;
    border: none;
    border-radius: 50%;
    font-size: $font-8;
    width: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    z-index: 2;
  }

  [data-tooltip] {
    position: relative;
    cursor: pointer;
    z-index: 4;
  }

  /* Hide the tooltip content by default */
  [data-tooltip]:before,
  [data-tooltip]:after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  /* Position tooltip above the element */
  [data-tooltip]:before {
    position: absolute;
    top: 150%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: $black;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: $white;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
  }

  /* Triangle hack to make tooltip look like a speech bubble */
  [data-tooltip]:after {
    position: absolute;
    top: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid $black;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
  }

  /* Show tooltip content on hover */
  [data-tooltip]:hover:before,
  [data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
  }
}
