$white: #d1d1d1;
$black: #000000;
$gray: gray;
$purple: #2c244f;
$pink: #bd88c6;
$blue: #0a4273;
$light-gray: #bbbbbb;
$deep-purple: #110e1f;
$deeper-purple: #17132a;
$lilac: #64626c;
$aqua-green: #077762;
$emerald-green: #00ce99;
$mist-gray: #909090;
$light-pink: #e5c3ea;
$purple-black: #1d1834;

$home-gradient: linear-gradient(
  to bottom,
  #1d1834 0%,
  #2e163b 80%,
  #1d1834 100%
);
